* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62,5%;
    height: 100%;
}

*, *::before, *::after{
    box-sizing: inherit;
}

// VARIABLES<<

$colores: (
    color1: #1A1B1D,
    color2: #D9EAF4,
    color3: #25cccc,
    color4: #DADEE1,
    color5: #E8F4D9,
    color6: #FFFFFF,
    color7: #414141,
    navColor: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 31%, rgba(37,204,204,1) 61%)
);

$fuentes: (
    font-nav: 1.5rem,
    font-h1: 3.0rem,
    font-h2: 2.0rem,
    font-h3: 1.5rem,
    font-h4: 1.3rem,
    font-p: 1.1em,
);

$breakpoints: (
    sm: 540px,
    md: 992px,
);

// MIXINS

@mixin cajaFlex($direction, $corte, $justify, $align) {
    display: flex;
    flex-flow: $direction $corte; 
    justify-content: $justify;
    align-items: $align;
}

@mixin media($breakpoint){
    @media screen and(max-width:map-get($breakpoints,$breakpoint)){
        @content;
    }
}



/* @mixin grid($columnas, $espacio) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espacio;

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 0em;

    }
} */

// KEYFRAMES

@keyframes aparecer {
    0%{
        opacity: 0%;
    }
    25%{
        opacity: 25%;
    }
    50%{
        opacity: 50%;
    }
    75%{
        opacity: 75%;
    }
    100%{
        opacity: 100%;
    }
    
}

body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: map-get($colores, color6);

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
    color: map-get($colores, color1);
    /* border: 1px solid #d6d6d6;
    border-radius: 15px; */
}

.cabecera,
.presentacion,
.contenido-footer {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}

p {
    font-size: map-get($fuentes, font-p);
    color: map-get($colores, color1);

}

h1 {
    font-size: map-get($fuentes , font-h1);
    color: map-get($colores , color1);
    font-weight: 500;
    font-style:normal;
    /* text-shadow: map-get($colores , color1) 0.5px 0.1px 0.1em; */
    margin-top: 30px;
}

h2 {
    font-size: map-get($fuentes , font-h2);
    color: map-get($colores , color1);
    font-weight: 400;
    margin-top: 20px;
    margin-left: 20px;
}

h3 {
    font-size: map-get($fuentes , font-h3);
    font-weight: 300;
    color: map-get($colores , color1);
}

h4 {
    font-size: map-get($fuentes , font-h4);
    font-weight: 200;
    color: map-get($colores , color6);
}

// EXTEND

.btn {
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: map-get($fuentes , font-p);
    font-weight: 100;
}

.btn-submit {
    @extend .btn;
    color: #fff;
    background-color: map-get($colores , color3);
}

.btn-reset {
    @extend .btn;
    background-color:map-get($colores , color4);
}