@import "global";

header{
    position: relative;
    top: 0;
    background: map-get($colores, navColor);
    width: 100%;
}

nav {
    @include cajaFlex (flex, row, wrap, flex-end, center);
    padding-right: 20px;

    ul{
        display: flex;
        padding: 0;

        a{
            padding: 5px;
            font-size: map-get($fuentes, font-nav);
            font-weight:400;
        }
        
        a:hover{
            color: map-get($colores, color4);
            transform: scale(1.1);
        }
    
    }

}

.presentacion{
    @include cajaFlex (flex, row, wrap, flex-start, center);
    padding-top: 30px;
    padding-bottom: 300px;
    padding-left: 50px
}

.contenido-footer{
    @include cajaFlex (flex, column, wrap, flex-end, center);
    padding-top: 200px;
    
}

