@import "global";

header {
    @include cajaFlex (row, wrap, space-between, center);
    top: 0;
    background: map-get($colores, navColor);
    width: 100%;

    @media screen and(max-width:992px) {
        background: map-get($colores, color4);
    }
}

.logo {
    @include cajaFlex (row, wrap, flex-start, center);
    min-height: 80px;
}

.nav {
    @include cajaFlex (row, wrap, flex-end, center);
    padding-right: 20px;
    
    @media screen and(max-width:992px) {
        width: 100%;
        background: map-get($colores, navMob);
        align-items: center;  
        
    }
} 

    ul {
        @include cajaFlex (row, wrap, flex-end, center);
        padding: 0;

        a {
            padding: 10px;
            font-size: map-get($fuentes, font-nav);
            font-weight: 400;
            min-width: 150px;
            text-align: center;

            }

        a:hover {
            color: map-get($colores, color4);
            transform: scale(1.2);
        }

    }

.presentacion {
    @include cajaFlex (row, nowrap, space-around, center);
    width: 90%;
    margin-top: 20px;
    padding: 30px 20px;
    background-color: map-get($colores, color2);
    border-radius: 10px;
    text-align: justify;

    .intro {
        text-align: justify;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 40px;
    }
}

.picIntro {
    @media screen and(max-width:540px) {
            max-width: 300px;
            }
    }
    
.objetivos {
    padding-top: 70px;
    margin-left: 10px;
    margin-right: 10px;

}

.obje-1 {
    @include cajaFlex (row, nowrap, space-around, space-between);
    text-align: center;
    align-content: center;
    font-weight: 500;

    div {
        @include cajaFlex (column, wrap, space-around, center);
        width: 200px;
        height: 150px;
        background-color: map-get($colores, color5);
        border-radius: 40px;
        margin-bottom: 70px;
    }
}

.obje-2 {
    @include cajaFlex (row, nowrap, space-around, center);
    margin-top: 70px;
    text-align: center;
    font-weight: 500;

    div {
        @include cajaFlex (column, wrap, space-around, center);
        width: 200px;
        height: 150px;
        background-color: map-get($colores, color5);
        border-radius: 50px;
        margin-bottom: 70px;
    }
}

.parallax {
    background: url("../multimedia/objetivos.jpg");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

.eticaPics {
    @include cajaFlex (row, nowrap, space-evenly, center);
    padding-top: 50px;
    animation-name: aparecer;
    animation-duration: 2s;
    animation-timing-function: linear;

    img {
        @media screen and(max-width:992px) {
            margin-bottom: 20px;
        }
        @media screen and(max-width:540px) {
            width: 300px;
        }
    }

    :hover {
        transform: scale(1.1);
        transition: all 2s;
    }

}

.fotos {
    max-width: 400px;
    margin-top: 40px;
    border: solid 5px #000000;
    border-radius: 10px;

    @media screen and(max-width:540px) {
        width: 300px;
    }
}

.galeria {
    @include cajaFlex(row, wrap, space-around, center);
    margin-top: 40px;s

    :hover {
        transform: scale(1.1);
        transition: all 1s;
    }
}

.video {
    @include cajaFlex(column, wrap, center, center);
    margin-top: 40px;

    iframe {
        @media screen and(max-width:540px) {
            width: 300px;
        }
    }
}

.titulos {
    padding-left: 20px;
}

.formulario {
    @include cajaFlex (row, nowrap, space-evenly, center);
    margin: 40px 100px;
    background-color: map-get($colores, color2);
    border-radius: 20px;

    @media screen and(max-width:992px) {
        width: auto;
    }

    @media screen and(max-width:540px) {
        margin: inherit;
        margin-top: 20px;
    }

    img {
        max-width: 500px;

        @media screen and(max-width:992px) {
            width: 300px;
        }
    }

    label {
        font-weight: 600;
        color: map-get($colores, color1)
    }

    .datos1 {
        @include cajaFlex(column, wrap, space-around, flex-start);
        margin-top: 20px;
    }

    .datos2 {
        @include cajaFlex(column, nowrap, space-around, flex-start);
        margin-top: 20px;
    }

    .comentarios {
        @include cajaFlex(column, nowrap, space-around, flex-start);
        margin-top: 20px;
    }

    .terms {
        @include cajaFlex(column, nowrap, space-around, flex-start);
        margin-top: 20px;
    }

    .botones {
        @include cajaFlex(row, nowrap, flex-start, flex-start);
        margin-top: 20px;
    }
}

.contenido-footer {
    @include cajaFlex (column, nowrap, space-around, center);
    min-height: 50px;
    background-color: map-get($colores, color7);
    text-align: center;
    margin-top: 200px;
    padding-top: 5px;
}