* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62, 5%;
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: beige;

}

/* INDEX */
/* RESPONSIVE DESIGN (pc) */

.gridIndex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0,3fr 1fr 1fr 1fr;
    grid-template-areas:
    "titulo titulo titulo"
    "nav nav nav"
    "main main main"
    "foto foto foto"
    "footer footer footer";


}

.titulo {
    
    grid-area: titulo;
    color: #b7d2e4;
    /* background-color: #22577a; */
    background-image: linear-gradient(to bottom, #000000, #22577a);
    font-style: oblique;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 100;
    padding: 20px;
}

.nav {
    background-color: #22577a;
    grid-area: nav;
    
}

.nav ul {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.nav li {

    font-size: 1.7rem; 
    list-style-type: none;
    display: inline-block;

}

.nav li a {
    text-decoration: none;
    color: #b7d2e4;
}

.nav li a:hover {
    font-size: larger;
    color: #cabd92;
}

.main1 {

    grid-area: main;
    color: #22577a;
    font-size: 2rem;
    text-align: justify;
    justify-self: center;
    padding: 20px;
}


.imagenManos {

    grid-area: foto;
    width: 100%;
    justify-self: center;
    

}


.volver {

    font-style: italic;
    line-height: 2;

}

.footer {
    grid-area: footer;
    color: #22577a;
    font-style: oblique;
    line-height: 2;
    text-align: justify;
    justify-self: center;
    padding: 20px 100px;
    }

/* GRID TABLET */
@media screen and (max-width: 768px) {
    .gridIndex {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0,5fr 0,3fr 1fr 1fr 0,5fr;
        grid-template-areas:
            "titulo titulo"
            "nav nav"
            "main main"
            "foto foto"
            "footer footer";
    }
}

/* GRID SMARTPHONE */
@media screen and (max-width: 500px) {
    .gridIndex {
        grid-template-columns: 1fr;
        grid-template-rows: 0,5fr 0,3fr 1fr 1fr 0,5fr;
        grid-template-areas:
            "titulo"
            "nav"
            "main"
            "foto"
            "footer";
        }

        .nav ul {
            flex-direction: column;
        }

    }

/* HISTORIA */
/* RESPONSIVE DESIGN (pc) */

.gridHistoria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0,5fr 0,3fr 1fr 1fr;
    grid-template-areas:
        "titulo titulo titulo"
        "nav nav nav"
        "main main main"
        "footer footer footer";

}
.text3 {

    grid-area: main;
    color: #22577a;
    font-style: normal;
    font-weight: bold;
    text-align: justify;
    line-height: 2;
    padding: 30px;
    justify-self: center;

}
/* GRID TABLET */
@media screen and (max-width: 768px) {
    .gridHistoria {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0,5fr 0,3fr 1fr 0,5fr;
        grid-template-areas:
            "titulo titulo"
            "nav nav"
            "main main"
            "foto foto"
            "footer footer";
    }
}

/* GRID SMARTPHONE */
@media screen and (max-width: 500px) {
    .gridHistoria {
        grid-template-columns: 1fr;
        grid-template-rows: 0,5fr 0,3fr 1fr 0,5fr;
        grid-template-areas:
            "titulo"
            "nav"
            "main"
            "footer";
        }
 
    }

/* LOREM */

.text4 {
    color: #22577a;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    line-height: 2;
    padding: 30px;
}

.cirugiaMano1 {
    display: inline-block;
    padding: 10px 10px;
    margin: 50px 50px;
    /* width:700px; */

}

/* MULTIMEDIA */

.tituloGalerias {
    color: #22577a;
    background-color: rgba(250, 235, 215, 0.164);
    font-size: 2rem;
    text-align: justify;
    padding: 20px;
}

.galeria {
    display: inline-block;
    padding: 20px 20px;
    margin: 10px 10px;
    /* width:700px; */

}

/* CONTACTO */

.tituloContacto {
    color: #22577a;
    background-color: rgba(250, 235, 215, 0.164);
    font-size: 2rem;
    text-align: justify;
    padding: 20px;
}

.form {
    display: inline-block;
    color: #22577a;
    font-style: normal;
    font-weight: bold;
    text-align: start;
    line-height: 2;
    padding: 10px 50px 50px 10px
}