* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62,5%;
  height: 100%;
  background-image: url("../multimedia/manosFondo2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  /* background-color: map-get($colores, color1); */ }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  display: inline-block;
  color: #D9EAF4;
  /* border: 1px solid #d6d6d6;
    border-radius: 15px; */ }

/* img {
    width: 80%;
    height: auto;
} */
.cabecera,
.presentacion,
.contenido-footer {
  width: 100%;
  margin: auto;
  margin-bottom: 10px; }

.contenido-footer {
  text-align: center; }

p {
  font-size: 1.2rem;
  color: #FFFFFF; }

h1 {
  font-size: 3rem;
  color: #E8F4D9;
  font-weight: 400;
  font-style: italic;
  text-shadow: #25cccc 0.1em 0.1em 0.2em;
  margin-top: 30px;
  margin-left: 20px; }

h2 {
  font-size: 2.4rem;
  color: #D9EAF4;
  font-weight: 400; }

h3 {
  font-size: 2rem;
  font-weight: lighter;
  color: #FFFFFF; }

.btn, .btn-submit, .btn-reset {
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 100; }

.btn-submit {
  color: #fff;
  background-color: #25cccc; }

.btn-reset {
  background-color: #DADEE1; }

header {
  position: relative;
  top: 0;
  background: linear-gradient(90deg, black 0%, #080b0b 42%, #25cccc 100%);
  width: 100%; }

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px; }
  nav ul {
    display: flex;
    padding: 0; }
    nav ul a {
      padding: 5px;
      font-size: 1.5rem;
      font-weight: 400; }
    nav ul a:hover {
      color: #DADEE1;
      transform: scale(1.1); }

.presentacion {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 300px;
  padding-left: 50px; }

.contenido-footer {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center;
  padding-top: 200px; }
