* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62,5%;
  height: 100%; }

*, *::before, *::after {
  box-sizing: inherit; }

@keyframes aparecer {
  0% {
    opacity: 0%; }
  25% {
    opacity: 25%; }
  50% {
    opacity: 50%; }
  75% {
    opacity: 75%; }
  100% {
    opacity: 100%; } }

body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #F7F8F8; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  display: inline-block;
  color: #1A1B1D; }

.cabecera,
.presentacion,
.contenido-footer {
  width: 100%;
  margin: auto;
  margin-bottom: 10px; }

p {
  font-size: 1.1em;
  color: #1A1B1D; }

h1 {
  font-size: 3rem;
  color: #1A1B1D;
  font-weight: 500;
  font-style: normal;
  margin-top: 30px; }

h2 {
  font-size: 2rem;
  color: #1A1B1D;
  font-weight: 400;
  margin-top: 20px;
  margin-left: 20px; }

h3 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #1A1B1D; }

h4 {
  font-size: 1.3rem;
  font-weight: 200;
  color: #FFFFFF; }

.btn, .btn-submit, .btn-reset {
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 1.1em;
  font-weight: 100; }

.btn-submit {
  color: #fff;
  background-color: #25cccc; }

.btn-reset {
  background-color: #F7F8F8; }

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background: linear-gradient(90deg, #f7f8f8 0%, #f7f8f8 31%, #25cccc 61%);
  width: 100%; }
  @media screen and (max-width: 992px) {
    header {
      flex-flow: column wrap;
      justify-content: space-around;
      align-items: center; } }
  @media screen and (max-width: 540px) {
    header {
      flex-flow: column wrap;
      justify-content: center;
      align-items: center; } }
  @media screen and (max-width: 992px) {
    header {
      background: #F7F8F8; } }

.logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 80px; }
  @media screen and (max-width: 992px) {
    .logo {
      flex-flow: column wrap;
      justify-content: space-around;
      align-items: center; } }
  @media screen and (max-width: 540px) {
    .logo {
      flex-flow: column wrap;
      justify-content: center;
      align-items: center; } }

.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px; }
  @media screen and (max-width: 992px) {
    .nav {
      flex-flow: column wrap;
      justify-content: space-around;
      align-items: center; } }
  @media screen and (max-width: 540px) {
    .nav {
      flex-flow: column wrap;
      justify-content: center;
      align-items: center; } }
  @media screen and (max-width: 992px) {
    .nav {
      width: 100%;
      background: linear-gradient(90deg, #f7f8f8 5%, #25cccc 50%, #f7f8f8 95%);
      align-items: center; } }

ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 0; }
  @media screen and (max-width: 992px) {
    ul {
      flex-flow: column wrap;
      justify-content: space-around;
      align-items: center; } }
  @media screen and (max-width: 540px) {
    ul {
      flex-flow: column wrap;
      justify-content: center;
      align-items: center; } }
  ul a {
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 400;
    min-width: 150px;
    text-align: center; }
  ul a:hover {
    color: #F7F8F8;
    transform: scale(1.2); }

.presentacion {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin-top: 20px;
  padding: 30px 20px;
  background-color: #D9EAF4;
  border-radius: 10px;
  text-align: justify; }
  @media screen and (max-width: 992px) {
    .presentacion {
      flex-flow: column wrap;
      justify-content: space-around;
      align-items: center; } }
  @media screen and (max-width: 540px) {
    .presentacion {
      flex-flow: column wrap;
      justify-content: center;
      align-items: center; } }
  .presentacion .intro {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 40px; }

@media screen and (max-width: 540px) {
  .picIntro {
    max-width: 300px; } }

.objetivos {
  padding-top: 70px;
  margin-left: 10px;
  margin-right: 10px; }

.obje-1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: space-between;
  text-align: center;
  align-content: center;
  font-weight: 500; }
  @media screen and (max-width: 992px) {
    .obje-1 {
      flex-flow: column wrap;
      justify-content: space-around;
      align-items: center; } }
  @media screen and (max-width: 540px) {
    .obje-1 {
      flex-flow: column wrap;
      justify-content: center;
      align-items: center; } }
  .obje-1 div {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 150px;
    background-color: #E8F4D9;
    border-radius: 40px;
    margin-bottom: 70px; }
    @media screen and (max-width: 992px) {
      .obje-1 div {
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center; } }
    @media screen and (max-width: 540px) {
      .obje-1 div {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center; } }

.obje-2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px;
  text-align: center;
  font-weight: 500; }
  @media screen and (max-width: 992px) {
    .obje-2 {
      flex-flow: column wrap;
      justify-content: space-around;
      align-items: center; } }
  @media screen and (max-width: 540px) {
    .obje-2 {
      flex-flow: column wrap;
      justify-content: center;
      align-items: center; } }
  .obje-2 div {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 150px;
    background-color: #E8F4D9;
    border-radius: 50px;
    margin-bottom: 70px; }
    @media screen and (max-width: 992px) {
      .obje-2 div {
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center; } }
    @media screen and (max-width: 540px) {
      .obje-2 div {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center; } }

.parallax {
  background: url("../multimedia/objetivos.jpg");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px; }

.eticaPics {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
  animation-name: aparecer;
  animation-duration: 2s;
  animation-timing-function: linear; }
  @media screen and (max-width: 992px) {
    .eticaPics {
      flex-flow: column wrap;
      justify-content: space-around;
      align-items: center; } }
  @media screen and (max-width: 540px) {
    .eticaPics {
      flex-flow: column wrap;
      justify-content: center;
      align-items: center; } }
  @media screen and (max-width: 992px) {
    .eticaPics img {
      margin-bottom: 20px; } }
  @media screen and (max-width: 540px) {
    .eticaPics img {
      width: 300px; } }
  .eticaPics :hover {
    transform: scale(1.1);
    transition: all 2s; }

.fotos {
  max-width: 400px;
  margin-top: 40px;
  border: solid 5px #000000;
  border-radius: 10px; }
  @media screen and (max-width: 540px) {
    .fotos {
      width: 300px; } }

.galeria {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px; }
  @media screen and (max-width: 992px) {
    .galeria {
      flex-flow: column wrap;
      justify-content: space-around;
      align-items: center; } }
  @media screen and (max-width: 540px) {
    .galeria {
      flex-flow: column wrap;
      justify-content: center;
      align-items: center; } }
  .galeria s :hover {
    transform: scale(1.1);
    transition: all 1s; }

.video {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px; }
  @media screen and (max-width: 992px) {
    .video {
      flex-flow: column wrap;
      justify-content: space-around;
      align-items: center; } }
  @media screen and (max-width: 540px) {
    .video {
      flex-flow: column wrap;
      justify-content: center;
      align-items: center; } }
  @media screen and (max-width: 540px) {
    .video iframe {
      width: 300px; } }

.titulos {
  padding-left: 20px; }

.formulario {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px 100px;
  background-color: #D9EAF4;
  border-radius: 20px; }
  @media screen and (max-width: 992px) {
    .formulario {
      flex-flow: column wrap;
      justify-content: space-around;
      align-items: center; } }
  @media screen and (max-width: 540px) {
    .formulario {
      flex-flow: column wrap;
      justify-content: center;
      align-items: center; } }
  @media screen and (max-width: 992px) {
    .formulario {
      width: auto; } }
  @media screen and (max-width: 540px) {
    .formulario {
      margin: inherit;
      margin-top: 20px; } }
  .formulario img {
    max-width: 500px; }
    @media screen and (max-width: 992px) {
      .formulario img {
        width: 300px; } }
  .formulario label {
    font-weight: 600;
    color: #1A1B1D; }
  .formulario .datos1 {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px; }
    @media screen and (max-width: 992px) {
      .formulario .datos1 {
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center; } }
    @media screen and (max-width: 540px) {
      .formulario .datos1 {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center; } }
  .formulario .datos2 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px; }
    @media screen and (max-width: 992px) {
      .formulario .datos2 {
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center; } }
    @media screen and (max-width: 540px) {
      .formulario .datos2 {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center; } }
  .formulario .comentarios {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px; }
    @media screen and (max-width: 992px) {
      .formulario .comentarios {
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center; } }
    @media screen and (max-width: 540px) {
      .formulario .comentarios {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center; } }
  .formulario .terms {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px; }
    @media screen and (max-width: 992px) {
      .formulario .terms {
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center; } }
    @media screen and (max-width: 540px) {
      .formulario .terms {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center; } }
  .formulario .botones {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px; }
    @media screen and (max-width: 992px) {
      .formulario .botones {
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center; } }
    @media screen and (max-width: 540px) {
      .formulario .botones {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center; } }

.contenido-footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  min-height: 50px;
  background-color: #414141;
  text-align: center;
  margin-top: 200px;
  padding-top: 5px; }
  @media screen and (max-width: 992px) {
    .contenido-footer {
      flex-flow: column wrap;
      justify-content: space-around;
      align-items: center; } }
  @media screen and (max-width: 540px) {
    .contenido-footer {
      flex-flow: column wrap;
      justify-content: center;
      align-items: center; } }
